{% import 'pcs/comments.html' as pcs with context %}
{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content_title %}<h1 class='title' id="page-title">{{ article.title }}</h1>{% endblock %}
{% block content %}        
{{ article.content }}
<footer>
{% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime("%d %b %y") }}</time>{% endif %}
{% if article.tags %}
	{% for tag in article.tags %}
	  <a class='tag' href='{{ SITEURL }}/{{tag.url}}'>{{tag}}</a>
	{% endfor %}
{% endif %}
</footer>
{% if article.related_posts %}
    <h2>Related Post</h2>
    <ul>
    {% for related_post in article.related_posts %}
        <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a> /<time datetime="{{ related_post.date.isoformat() }}">{{ related_post.date.strftime("%d %b %y") }}</time></li>
    {% endfor %}
    </ul>
{% endif %}
{{ pcs.comments_quickstart("underscore", "autistici.org") }}
{% endblock %}
