<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <meta name="google-site-verification" content="qWNE3gxST06uouZv5y4VvBtSJv1gyEVdSghGGaxolYg" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}?sdf" type="text/css" />
        <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />    
        {% endif %}

        {% if (article and article.photo_gallery) or (articles_page and articles_page.object_list[0].photo_gallery) %}
          <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/lightbox.min.css">
        {% endif %}

</head>

<body>

    <div id="navbar">
      <h1 class='title'>{{ SITENAME }}</h1>
      <div>
        <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR}}/logo.png" class='logo'/></a>
        <a href="{{ SITEURL }}/">home</a> | 
        <a href="{{ SITEURL }}/tag/stakkastakka.html">stakkastakka</a> | 
        <!-- <a href="{{ SITEURL }}/pages/progetti.html">progetti</a> |  -->
        <a href="{{ SITEURL }}/amici.php">amici</a> |
        <a href="{{ SITEURL }}/pages/eventi.html">eventi</a> |
        <!-- <a href="{{ SITEURL }}/wiki/">wiki</a> |  -->
        <a href="{{ SITEURL }}/atom.xml">feed</a> |
      </div>
    </div> 

    {% block content_title %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% if (article and article.photo_gallery) or (articles_page and articles_page.object_list[0].photo_gallery) %}
      <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/lightbox-plus-jquery.min.js"></script>
      <script>
          lightbox.option({
      'resizeDuration': 200,
      'imageFadeDuration': 400
    })
      </script>
    {% endif %}
</body>
</html>
