{% extends "base.html" %}
{% block content_title %}<h1 class='title'></h1>{% endblock %}
{% block content %}

{% if page_name == 'index' %}
<p>L'underscore hacklab è un laboratorio di sperimentazione e critica tecnologica lontano dalle logiche del profitto. 
Ci occupiamo non solo di tecnica ma anche di politica in quanto crediamo che la tecnologia non sia neutra, che Internet possa diventare anche un strumento di oppressione, che l'informazione e il software debbano essere liberi e che le conoscenze non siano merce. 
Per noi l'hacking è studio e condivisione, sperimentazione e uso consapevole ma anche non convenzionale degli strumenti.  </p>
<p>Tutti i mercoledì dalle 11 alle 12:30 puoi ascoltare i nostri deliri su <a href="{{ SITEURL }}/tag/stakkastakka.html">stakkastakka</a>, una trasmissione che curiamo sulle libere frequenze di <a href="https://www.radioblackout.org">Radio Blackout</a>.</p>
<p>Ci vediamo tendenzialmente il mercoledì sera dalle 21 in poi al <a href="https://gabrio.noblogs.org/">C.S.O.A. Gabrio</a> (primo piano e un po', prima stanza a sinistra) in Via Millio 42 a Torino, ma se vuoi passare a trovarci scrivi una mail per sicurezza a underscore chiocciola autistici.org  </p>

<iframe width="100%" style="margin: 0px; padding: 0px; font-family: monospace; max-width: 1000px; margin: auto auto;"
  src="https://doc.cisti.org/s/xVwQODG0G#"
  frameborder="0"></iframe>
<hr>
<p>Le poche righe che scriviamo le mettiamo qui sotto:</p>
{% endif %}

{% if articles %}
<section id="article-list">
  {% for article in articles if page_name != 'index' or not "stakkastakka" in article.tags|map(attribute='name') %}
    <div class='article-item'>
      <span class='date'>[{{article.date.strftime("%d %b")}}]</span> 
      {% if article.tags %}
      {% for tag in article.tags %}
      <a class='tag' href='{{ SITEURL }}/{{tag.url}}'>{{tag}}</a>
      {% endfor %}
      {% endif %}
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">
        {{article.title}}
      </a>
    </div>
  {% endfor %}
</section><!-- #article-list -->

{% else %}
No posts found.
{% endif %}
{% endblock content %}
