{% extends "index.html" %}
{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}

{% block content_title %}
{% if tag.name == 'stakkastakka' %}
<h1 class='title'>Stakkastakka</h1>
<p>Tutti i mercoleì dalle 11 alle 12:30 trasmettiamo sulle mitiche libere frequenze di <a href="https://radioblackout.org">radio
  blackout</a>, sui 105.25 in fm (a torino e dintorni, altrimenti in streaming) con stakkastakka, una trasmissione di critica delle nuove tecnologie e approfondimenti digitali.<br>
  <p>Durante le trasmissioni potete interagire con noi in tempo reale attraverso i <a href='https://radioblackout.org/contatti/'>numeri della radio</a> o su IRC nel canale <code>#stakkastakka</code> del server
  di autistici (<a href="https://www.autistici.org/docs/irc/#">qui trovate come
  fare</a>).</p>
  <p>Qui sotto i podcast delle puntate:</p>
{% else %}
<h1 class='title'>#{{tag}}</h1>
<p>Parliamo di <b>{{tag}}</b> in questi post:</p>
{% endif %}

{% endblock %}
