/*@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);*/

@font-face {
  font-family: 'diofa';
  src: url(fonts/diofa.woff2);
}

html {
	box-sizing: border-box;
  padding:0;
  margin:0;
  background:#fefefe;
  width: 100%;
  height: 100%;
}

body {
	font-size: 18px;
	margin: 0;
	padding: 0;
  font-family:  monospace;
  font-weight: small;
	color: #333;
	line-height: 1.3;
}

.logo {
	width: 100px;
	top: 30px;
	position: absolute;
}


.lightbox,
.lightboxOverlay {
	max-width: 100%;
}

.center {
	text-align: center;
}

pre span {
	display: inline;
}

iframe {
	display: block;
}

body > p,
body > ul,
body > ol,
body > h3,
body > h1,
body > iframe,
body > h2,
body > h4,
body > div,
body > a,
body > article,
body > section,
body > blockquote > ul,
body > blockquote > p,
body > blockquote > h3,
body > blockquote > h2,
body > blockquote > h1,
body > blockquote > h4,
body > blockquote > ol,
body > blockquote pre,
body > footer,
body > header,
body > center,
body > pre,
body > code
 {
	max-width: 1000px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

audio {
  width: 60%;
  border-radius: 3px;
  margin-right: 5px;
}

blockquote pre {
	white-space: pre-wrap;
}


blockquote a {
	color: #4998ff;
}

body > blockquote {
	box-sizing: border-box;
	/*padding: 1em 1em 1em 1em;*/
	margin: 1em auto;
	width: 90%;
	max-width: 1200px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #ccc;
	font-family: Georgia, Verdana, monospace;
	font-style: italic;
	font-size: 17px;
}


h1.title {
	width: 100%;
	display: block;
  font-family: diofa, monospace;
  font-size: 40px;
	text-align: center;
}

#navbar h1.title {
	text-align: right;
}

h3.subtitle {
	font-weight: normal;
	font-style: normal;
}

footer {
	font-weight: normal;
	display: block;
	text-align: right;
}

#article-list .date {
	font-size: 11px;
}

#article-list li {
	line-height: 25px;
}

#article-list a.tag {
	/* display: inline; */
	float: right;
	font-size: 10px;
	margin-right: 1px;
}

@media screen and (max-width: 800px) {
	.article-item a.tag {
		display: none !important;
	}
	.date {
		display: none !important;
	}
}

#article-list .article-item:nth-child(odd) {
	background-color: #f3f3f3;
}

article {
	margin-top: 4em;
	margin-bottom: 4em;
	min-height: 400px;
	}
footer {
	margin-bottom:50px;
	}
video {
	margin: 2em 0;
	border:1px solid #ddd;
	}

nav {
	/* font-size: .9em; */
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	}
nav p {
	margin: 0;
	}

/* Typography
-------------------------------------------------------- */
small {
	font-family: monospace;
}
h1 {
	font-weight: normal;
	}
h2 {
	font-weight: normal;
	font-style: italic;
	}
h3 {
	font-style: italic;
	font-weight: bold;
	/* font-size:1.3em; */
}

p {
	/* margin-top:0; */
	/*-webkit-hypens:auto;*/
	/*-moz-hypens:auto;*/
	/*hyphens:auto;*/
	}

ul {
	list-style: square;
	padding-left:0;
}


ol {
	padding-left:0;
}

code.sourceCode {
	color: #ccc;
	font-family: Monospace;/*"Consolas", "Menlo", "Monaco", monospace, serif;*/
}

code {
	background-color: #eee;
	border-radius: 3px;
	padding: 1px 5px;
	color: black;
}

code:selected {
  background-color: white;
}

a {
	color: #204fe2;
	text-decoration: none;
}

a.tag {
	background-color: #666;
	color: white;
	border-radius: 3px;
	padding: 1px 5px;
	text-decoration: none;
	transition: background-color .4s;
}

a.tag:hover {
	text-decoration: none;
	background-color: #999;
	color: white;
}

a:hover {
	text-decoration: underline;
}

a img {
	border:none;
	}

img {
	max-width: 100%;
	cursor: pointer;
}

#overlay {
	left: -100%;
	transition: all .3s;
	padding: 40px;
	position: fixed;
	max-width: 100%;
	width: 100%;
	height: 100%;
	top: 0px;
	text-align: center;
	background-color: rgb(0,0,0);
	z-index: 2;
	display: block;
}

#overlay.show {
	left:0px;
}

#overlay img {
	box-sizing: border-box;
	padding: 10px;
	max-height: 100%;
}

h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
	}
hr {
	color : #ddd;
	height : 1px;
	max-width: 100%;
	/*margin: 2em 0;*/
	border-top : solid 1px #ddd;
	border-bottom : none;
	border-left: 0;
	border-right: 0;
	}
p#heart{
	/* font-size: 2em; */
	line-height: 1;
	text-align: center;
	color: #ccc;
	}
.red {
	color:#B50000;
	}


div.sourceCode {
	margin-bottom: 1em;
}


pre.sourceCode {
	box-sizing: border-box;
	padding: 10px;
	margin: 0px;
	background-color: #2a111c;
	border-left: 10px solid #382020;
}

code.sourceCode {
	background-color: transparent;
}

/* Home Page
--------------------------- */

body#index li {
	margin-bottom: 1em;
	}


/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
	line-height: 1.4;
	}
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
body {
	text-align: left;
	}
article, footer {
	width: auto;
	}
article {
	padding: 0 10px;
	}
} /* @iPhone */

.highlight pre { padding: 10px; }
.highlight code,.highlight pre{color:#fdce93;background-color:#3f3f3f;}.highlight .hll{background-color:#222}.highlight .c{color:#7f9f7f}.highlight .err{color:#e37170;background-color:#3d3535}.highlight .g{color:#7f9f7f}.highlight .k{color:#f0dfaf}.highlight .l{color:#ccc}.highlight .n{color:#dcdccc}.highlight .o{color:#f0efd0}.highlight .x{color:#ccc}.highlight .p{color:#41706f}.highlight .cm{color:#7f9f7f}.highlight .cp{color:#7f9f7f}.highlight .c1{color:#7f9f7f}.highlight .cs{color:#cd0000;font-weight:bold}.highlight .gd{color:#cd0000}.highlight .ge{color:#ccc;font-style:italic}.highlight .gr{color:red}.highlight .gh{color:#dcdccc;font-weight:bold}.highlight .gi{color:#00cd00}.highlight .go{color:gray}.highlight .gp{color:#dcdccc;font-weight:bold}.highlight .gs{color:#ccc;font-weight:bold}.highlight .gu{color:purple;font-weight:bold}.highlight .gt{color:#0040D0}.highlight .kc{color:#dca3a3}.highlight .kd{color:#ffff86}.highlight .kn{color:#dfaf8f;font-weight:bold}.highlight .kp{color:#cdcf99}.highlight .kr{color:#cdcd00}.highlight .kt{color:#00cd00}.highlight .ld{color:#cc9393}.highlight .m{color:#8cd0d3}.highlight .s{color:#cc9393}.highlight .na{color:#9ac39f}.highlight .nb{color:#efef8f}.highlight .nc{color:#efef8f}.highlight .no{color:#ccc}.highlight .nd{color:#ccc}.highlight .ni{color:#c28182}.highlight .ne{color:#c3bf9f;font-weight:bold}.highlight .nf{color:#efef8f}.highlight .nl{color:#ccc}.highlight .nn{color:#8fbede}.highlight .nx{color:#ccc}.highlight .py{color:#ccc}.highlight .nt{color:#9ac39f}.highlight .nv{color:#dcdccc}.highlight .ow{color:#f0efd0}.highlight .w{color:#ccc}.highlight .mf{color:#8cd0d3}.highlight .mh{color:#8cd0d3}.highlight .mi{color:#8cd0d3}.highlight .mo{color:#8cd0d3}.highlight .sb{color:#cc9393}.highlight .sc{color:#cc9393}.highlight .sd{color:#cc9393}.highlight .s2{color:#cc9393}.highlight .se{color:#cc9393}.highlight .sh{color:#cc9393}.highlight .si{color:#cc9393}.highlight .sx{color:#cc9393}.highlight .sr{color:#cc9393}.highlight .s1{color:#cc9393}.highlight .ss{color:#cc9393}.highlight .bp{color:#efef8f}.highlight .vc{color:#efef8f}.highlight .vg{color:#dcdccc}.highlight .vi{color:#ffffc7}.highlight .il{color:#8cd0d3}
